@import url("https://fonts.googleapis.com/css2?family=Chicle&display=swap");

* {
  font-family: "Chicle", cursive;
}
.App {
  text-align: center;
}

body {
  background-color: #f8f7f2;
}
.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* background-color: #a62b2b; */
  height: auto;
}
.home > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2em;
  font-size: clamp(1.6875rem, 0.1818rem + 4.8182vw, 5rem);
}
.paw {
  width: 100%;
  max-width: 80px;
  height: auto;
}
.home > img {
  display: block;
  width: 100%;
  max-width: 40rem;
  height: auto;
  /* background-color: blue; */
}
